/* Réglages globaux */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

/* Header */
header {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Messages d'erreur */
.error-message {
    color: red;
}

/* Titres */
h1 {
    text-align: center;
    margin-top: 0;
}

/* Conteneurs */
.container, .container2, .container3, .container4, .tab-sorties {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #555; /* Couleur générique pour les conteneurs */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #333; /* Couleur spécifique pour container */
}

.container3 {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tableaux */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #111;
}

/* Texte visible */
.texte-visible {
    color: #ffffff; /* Couleur du texte (blanc dans cet exemple) */
    font-weight: bold; /* Texte en gras */
    text-align: center;
    border: 1px solid #000; /* Contour autour du texte */
    padding: 5px;
}

/* Boutons */
.button, a.button-link {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

a.button-link {
    display: block;
    width: 30%;
    text-align: center;
    padding: 15px 0;
    background-color: #222;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

a.button-link:hover {
    background-color: #424547;
}

/* Couleurs des lignes */
.ligne-or {
    background-color: #949434; /* Jaune mat */
}

.ligne-argent {
    background-color: #6d6767; /* Argent */
}

.ligne-bronze {
    background-color: #8a541f; /* Bronze */
}

/* En-tête de navigation */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0px;
}

.nav-box {
    flex: 1;
    text-align: center;
}

.nav-box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    flex: 1;
    display: block;
}

.nav-box:hover {
    background-color: #555;
}
