body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.centered-heading {
    text-align: center;
    width: 100%;
}

header {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.error-message {
    color: red;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container2 {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.container3 {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container4 {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

p {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* table, th, td {
    border: 1px solid #200;
} */

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #111;
}

.texte-visible {
    color: #ffffff; /* Couleur du texte (blanc dans cet exemple) */
    text-shadow: none; /* Supprimez l'ombre de texte précédente */
    font-weight: bold; /* Rend le texte en gras pour le faire ressortir */
    text-align: center; /* Centre le texte horizontalement dans la cellule */
    border: 1px solid #000; /* Ajoute un contour autour du texte */
    padding: 5px; /* Ajoute un espacement autour du texte */
  }

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.ligne-or {
    background-color: #949434; /* Jaune mat */
}

.ligne-argent {
    background-color: #6d6767; /* Argent */
}

.ligne-bronze {
    background-color: #8a541f; /* Bronze */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0px;
}

.nav-box {
    flex: 1;
    text-align: center;
}

.nav-box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    flex: 1;
    display: block;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    display: block;
}

.nav-box:hover {
    background-color: #555;
}

.big-button {
    margin-top: 10px;
    font-size: 16px; /* Ajustez la taille de police selon vos préférences */
    padding: 10px 20px; /* Ajustez la marge intérieure pour contrôler la taille du bouton */
}

/* Ajoutez ces styles CSS pour rendre l'ensemble du bouton cliquable */
.button-link {
    display: block; /* Convertit le lien en un élément de type bloc */
    width: 30%;    /* Largeur du bouton (peut être ajustée selon vos préférences) */
    text-align: center; /* Centre le texte horizontalement dans le bouton */
    padding: 15px 0; /* Ajoutez un espacement intérieur pour le style et centre le texte verticalement */
    text-decoration: none; /* Supprime la décoration de lien par défaut */
    color: #fff; /* Couleur du texte */
    background-color: #222; /* Couleur d'arrière-plan du bouton (peut être personnalisée) */
    border-radius: 20px; /* Ajoutez des coins arrondis au bouton si nécessaire */
    transition: background-color 0.3s ease; /* Ajoutez une transition fluide au changement de couleur au survol */
    margin: 10px; /* Espacement entre les boutons */
}


.button-link:hover {
    background-color: #424547; /* Couleur d'arrière-plan au survol (peut être personnalisée) */
}

.tab-sorties {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #316965;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center
    
}